h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.cta {
  color: red;
  font-size: 16px;
  text-align: center;
}
body {
  background-color: black;
}
.gray {
  color: gray;
  text-align: center;
}
.footer {
  text-align: right;
  color: gray;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
